body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: #381c82;
}
.quem-somos{
    background-color: #191225;
    color: white;

}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color: #393146;
}
.bg-footer{
    background-color: black;
    color: white;
}